<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-theme.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-icons.css' | relative_url }}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand:600&display=swap" rel="stylesheet">
  {%- feed_meta -%}

  {%- include custom-head.html -%}

</head>
